body{
  font-family:Century Gothic;
  background-color:#f4f4f4;
  overflow-x:hidden;
}

.navbar{
  background-color:#009688;
  height:63px;
}

.navbar a{
  float:left;
  display:block;
  color:#f2f2f2;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:17px;
}
.navbar .search-box{
  float: right;
}
.navbar input[type=text]{
  padding: 6px;
  margin-top: 15px;
  border:none;
  font-size: 17px;
  font-family: Century Gothic;
}
.navbar .search-box button{
  float: right;
  padding: 6px;
  margin-top: 15px;
  font-size: 17px;
  font-family: Century Gothic;
  margin-right: 16px;
  border:none;
  background-color: #CDDC39;
  cursor: pointer;
  transition: 0.6s all;
}
.navbar .search-box button:hover{
  background-color: #2196F3;
  color: #fff;
}
.navbar a:hover{
  background-color:#00BCD4;
  color:#000;
}

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#00796B;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#FFC107;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color:#9C27B0;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

#main{
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
}

@media(max-width:568px){
  .navbar-nav{display:none}
}

@media(min-width:568px){
  /*.open-slide{display:none}*/
}
.post_box
{
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);*/
  /*width: 600px;
  height: 500px;*/
  padding: 50px 50px;
  box-sizing: border-box;
  background: rgba(255,255,255,0.5);
}
.post_box input
{
  width: 100%;
  margin-bottom: 20px;
}
.post_box input[type="text"]{
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}
.post_box textarea{
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 70px;
  width: 100%;
  color: #000;
  font-size: 16px;
  font-family: Century Gothic;
}
::placeholder
{
  color: rgba(0,0,0,.5);
  font-family: Century Gothic;
}
.post_box input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background: #00796B;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 20px;
}
.post_box input[type="submit"]:hover
{
  background: #673AB7;
  color: #fff;
}
